<div class="profile">
  <%= render "users/photos/photo", user: @user %>
  <%= render "users/attributes/full_name", user: @user %>
  <%= render "users/attributes/bio", user: @user %>
</div>

<div class="blocks">
  <%= render "users/blocks/empty_state", user: @user %>
  <% @user.blocks.each do |block| %>
    <%= render block %>
  <% end %>
</div>