<div class="profile">
  <%= render "users/photos/photo", user: @user %>
  <%= render "users/attributes/full_name", user: @user %>
  <%= render "users/attributes/bio", user: @user %>
</div>

<div id="blocks" class="blocks">
  <%= render "blocks/blocks/empty_state", user: @user %>
  <% @user.blocks.each do |block| %>
    <%= render "blocks/blocks/block", block: block %>
  <% end %>
</div>