<div class="profile">
  <%= render "users/photos/photo", user: @user %>
  <%= render "users/attributes/full_name", user: @user %>
  <%= render "shared/toggle_actions_btn", position: 1 %>
  <%= render "users/attributes/bio", user: @user %>
  <%= render "shared/toggle_actions_btn", position: 2 %>
</div>

<div class="d-center my-m" data-controller="action-authorisations" data-action-authorisations-target="user">
  <%= link_to "+ Add block", new_user_block_path(@user), data: { turbo_stream: true }, class: "action-btn" %>
</div>

<%= turbo_frame_tag nested_dom_id(@user, "blocks"), data: { controller: "sortable", sortable_draggable_value: ".drag-item" }, class: "blocks" do %>
  <%= render "blocks/blocks/empty_state", user: @user %>
  <% @user.blocks.ordered.each do |block| %>
    <%= render "blocks/blocks/block", block: block %>
  <% end %>
<% end %>

<div class="profile-container">
  <%= render "shared/toggle_actions_btn", position: 3 %>
</div>

<% if @user.posts.any? %>
  <div class="container container--more-narrow">
    <div class="container-divider"></div>
    <h2><%= @user.name %>'s latest posts</h2>
    <%= turbo_frame_tag "posts", src: user_posts_path(@user), loading: "lazy" %>
  </div>
<% end %>
