<%= render "shared/toggle_actions_btn", user: @user %>
<div class="profile">
  <%= render "users/photos/photo", user: @user %>
  <%= render "users/attributes/full_name", user: @user %>
  <%= render "users/attributes/bio", user: @user %>
</div>
  
<%= render "add_block", user: @user %>

<%= turbo_frame_tag nested_dom_id(@user, "blocks"), data: { controller: "sortable", sortable_draggable_value: ".drag-item" }, class: "blocks mt-xxxl" do %>
  <%= render "blocks/blocks/empty_state", user: @user %>
  <% @user.blocks.ordered.each do |block| %>
    <%= render "blocks/blocks/block", block: block %>
  <% end %>
<% end %>

<%= render "add_block", user: @user %>

<% if @user.posts.published.any? %>
  <div class="container container--more-narrow">
    <div class="container-divider"></div>
    <h2><%= @user.name %>'s posts</h2>
    <%= turbo_frame_tag "posts", src: user_posts_path(@user), loading: "lazy" do %>
      <%= render "shared/spinner" %>
    <% end %>
  </div>
<% end %>
