<%= turbo_frame_tag dom_id(user, "edit_bio") do %>  
  <div class="profile__bio">
    
    <% if user.bio %>
      <div class="profile__bio">
        <p><%= simple_format user.bio %></p>
        <%= link_to edit_user_attributes_path(user, attribute: "bio"), class: "profile__bio__edit" do %>
          <%= Icon.call("edit_emoji") %>
        <% end %>
      </div>
      <% else %>

        <%= render "users/attributes/empty_state", attribute: "bio" %>
    <% end %>
      
  </div>
<% end %>