<%= turbo_frame_tag dom_id(user, "edit_bio") do %>  
  <div class="profile__bio">
    
    <% if user.bio.present? %>
      <div class="profile__bio">
        <p><%= simple_format(markdown_links_to_html(user.bio)) %></p>
        <%= link_to edit_user_attributes_path(user, attribute: "bio"), data: { controller: "action-authorisations", action_authorisations_target: "user" }, class: "profile__bio__edit" do %>
          <%= Icon.call("edit") %>
        <% end %>
      </div>
      <% else %>

        <%= render "users/attributes/empty_state", user: user, attribute: "bio" %>
    <% end %>
      
  </div>
<% end %>