<% wrapper_class = "profile__#{attribute} profile__#{attribute}--form" %>
<%= simple_form_for user, url: user_attributes_path(user, attribute: attribute), html: { class: wrapper_class },  method: :patch do |f| %>
  <%= form_error_notification(user) %>
  <div class="form__container" data-controller="add-url"> 
    <%= f.input attribute.to_sym,
          input_html: { autocomplete: attribute, 
                        data: { controller: "textarea-autogrow autofocus", add_url_target: "input" } },
          wrapper_html: { class: "form__container__input--#{attribute}" } %>
    <div class="form__container__actions">
      <%= link_to user_path(user), class: "btn btn--light btn--emoji" do %>
        <%= Icon.call("cancel_emoji") %>
      <% end %>
      <%= button_tag(class: "btn btn--primary btn--emoji") do %>
        <%= Icon.new("confirm_emoji").call %>
      <% end %>
    </div>
  </div>  
<% end %>