<div class="text-center">
  <h1>Edit <%= @attribute %></h1>

  <%= turbo_frame_tag dom_id(@user, "edit_#{@attribute}") do %>
    <%= simple_form_for @user, url: user_attributes_path(@user, attribute: @attribute), method: :patch do |f| %>
      <%= form_error_notification(@user) %>

      <div class="form__container"> 
        <%= f.input @attribute.to_sym,
              autofocus: true,
              input_html: { autocomplete: @attribute, 
                            data: { controller: "textarea-autogrow" } },
              wrapper_html: { class: "form__container__input--#{@attribute}" } %>
        
        <div class="form__container__actions">
          <%= link_to user_path(@user), class: "btn btn--light btn--emoji" do %>
            <%= Icon.call("cancel_emoji") %>
          <% end %>
          <%= button_tag(class: "btn btn--primary btn--emoji") do %>
            <%= Icon.new("confirm_emoji").call %>
          <% end %>
        </div>
      </div>  
      
    <% end %>
  <% end %>
</div>