<%= turbo_frame_tag block, 
    data: { 
      controller: "action-authorisations accordion-all",
      has_expandable_content: block.items_have_content?,
      sortable_url: order_block_path(block) 
    },
    class: "drag-item" do %>
  
  <div class="block__item">
    <%= render "blocks/blocks/block_edit", block: block %>

    <%= turbo_frame_tag nested_dom_id(block, "items"), 
        data: { 
          controller: "sortable", 
          sortable_block_id: block.id, 
          sortable_group_value: "items",
          sortable_draggable_value: ".drag-item",
        }, 
        class: "block__content" do %>

      <% block.items.ordered.each do |item| %>    
        <%= render "blocks/items/item", item: item %>
      <% end %>
      <%= render "blocks/blocks/add_item", block: block %>

    <% end %>
  </div>
<% end %>