<%= turbo_frame_tag block do %>
  <div class="block__item">

    <div class="block__title">
      <h2><%= block.name %></h2>
      <div class="btn-accordion" data-action="accordion-all#toggleAll">
        <%= Icon.call("plus") %>
      </div>
    </div>

    <div id="block_<%= block.id %>_items" class="block__content">
      <% block.items.each do |item| %>    
        <%= turbo_frame_tag nested_dom_id(block, item), src: block_item_path(block, item), loading: "lazy" do %>
          <%= render "shared/spinner" %>
        <% end %>
      <% end %>
      
      <%= render "blocks/blocks/add_item", block: block %>
    </div>

  </div>
<% end %>