<% wrapper_class = block.new_record? ? "empty-state empty-state--new-block" : "" %>

<%= turbo_frame_tag nested_dom_id(block, "form") do %>
  <%= simple_form_for([user, block].compact, html: { class: wrapper_class }) do |f| %>
    <%= form_error_notification(block) %>
    <div class="form__container" data-controller="add-url">
      <%= f.input :name, 
            input_html: { data: { controller: "autofocus", link_target: "input" } },
            wrapper_html: { class: "form__container__input--block-name" } %>
      <div class="form__container__actions">
        <%= link_to user_path(block.new_record? ? user : block.user),
            data: { turbo_frame: block.new_record? ? nested_dom_id(user, "blocks") : dom_id(block) }, 
            class: "btn btn--light btn--emoji" do %>
          <%= Icon.call("cancel_emoji") %>
        <% end %>
        <%= button_tag(class: "btn btn--primary btn--emoji") do %>
          <%= Icon.new("confirm_emoji").call %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>