<%= turbo_frame_tag dom_id(item), data: { sortable_url: order_item_path(item) }, class: "drag-item" do %>
  <div data-controller="accordion" class="block__item">
    <%= turbo_frame_tag nested_dom_id(item, "edit") do %>
      <div class="block__item__title">
        <%= item.name %>
        <%= actions_for(item) %>
        <%= accordion_toggle_btn(item) %>
      </div>
    <% end %>
    <div data-accordion-target="dropdown" class="block__item__content visually-hidden">
      <%= turbo_frame_tag nested_dom_id(item, "content"), src: item_content_path(item), loading: "lazy" do %>
        <%= render "shared/spinner" %>
      <% end %>
    </div>
  </div>
<% end %>