<%= turbo_frame_tag dom_id(item), data: { sortable_url: order_item_path(item) }, class: "drag-item" do %>
  <div data-controller="accordion action-authorisations" 
      data-accordion-open-accordion-value="<%= open_accordion %>"
      data-has-expandable-content="<%= item.has_content? %>"
      class="block__item">
    
    <%= render "blocks/items/item_edit", item: item %>
    
    <div data-accordion-target="dropdown" class="block__item__content visually-hidden">
      <%= turbo_frame_tag nested_dom_id(item, "content"), src: item_content_path(item), loading: "lazy" do %>
        <%= render "shared/spinner" %>
      <% end %>
    </div>
  </div>
<% end %>