<div class="container container--more-narrow">
  <div class="header">
    <h2>Log in</h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "" }) do |f| %>
    <%= form_error_notification(resource) %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean, wrapper: :vertical_boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions flex-end">
      <%= f.button :submit, "Log in", class: "btn btn--dark" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
