<%= simple_form_for([user, post].compact) do |f| %>
  <div class="flex-end my-m form-top-btn">
    <%= f.button :submit, class: "btn btn--dark" %>
  </div>
  
  <%= form_error_notification(post) %>

  <div class="form-inputs">
    <%= f.input :title, input_html: { data: { controller: "autofocus" } } %>
    <%= f.input :subtitle,
          input_html: {
            data: {
              controller: "textarea-autogrow"
            } 
          } %>
    
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css"> 
    <%= f.input :body, 
          input_html: {
            data: { 
              controller: "markdown-editor",
              markdown_editor_url_value: rails_direct_uploads_url,
              markdown_editor_update_url_value: post.new_record? ? "" : save_content_post_path(post),
              markdown_editor_toolbar_value: [
                "undo", "redo", "bold", "italic", "strikethrough", "heading-1", "heading-2", "heading-3", "code", "quote", "unordered-list", "ordered-list", "link", "horizontal-rule", "preview", "side-by-side", "fullscreen", "guide"
              ]
            } 
          } %>
  </div>

  <div class="justify-space-between">
    <%= form_back_link(post, user) %>
    <%= f.button :submit, class: "btn btn--dark" %>
  </div>
<% end %>