<%= render "meta", post: @post %>

<div class="container container--more-narrow">
  <%= link_to sanitize("&larr; Back to posts"), user_posts_path(@post.user) %>
  <div class="header">
    <h1><%= @post.title %></h1>
    <% if policy(@post).update? %>
      <div class="post__actions">
        <%= show_actions_for(@post) %>
        <%= render "posts/publish_btn", post: @post, position: "top" %>
      </div>
    <% end %>
  </div>

  <div class="post__subtitle">
    <h3><%= simple_format @post.subtitle %></h3>
  </div>

  <div data-controller="markdown-clipboard" class="post__body markdown-content">
    <%= markdown @post.body %>
  </div>
  
  <%#= render "shared/sharer_btn", 
    url: post_url(@post), 
    title: translated_content_with_language(@post.title), 
    description: translated_content_with_language(@post.subtitle) %>
  <br>
  <div class="justify-space-between">
    <%= link_to sanitize("&larr; Back to posts"), user_posts_path(@post.user) %>
    <% if policy(@post).update? %>
      <div class="post__actions">
        <%= show_actions_for(@post) %>
        <%= render "posts/publish_btn", post: @post, position: "bottom" %>
      </div>
    <% end %>
  </div>
</div> 