<%= turbo_frame_tag nested_dom_id(item, "content") do %>
  <%= turbo_frame_tag nested_dom_id(item, "edit_content") do %>
    <%= item_content_edit_btn(item) %>
    <%= render "empty_state", item: item unless item.has_content? %>
    
    <div class="markdown-content markdown-content--small" data-controller="markdown-clipboard">
      <%= markdown item.content %>
    </div>

    <%= turbo_frame_tag :item_photos, src: photos_item_content_path(item) do %>
      <div class="d-center">
        <%= render "shared/spinner" %>
      </div>
    <% end %>
   
  <% end %>
<% end %>
