<%= simple_form_for item, url: item_content_path(item), method: :patch, html: { class: "form__container--item-content" } do |f| %>
  <%= form_error_notification(item) %>
  <div class="form__container">
    <%= f.input :content, 
          input_html: { 
            data: { 
              controller: "autofocus"
            }
          },
          wrapper_html: { class: "form__container__input--item-content" } %>
    <div class="form__container__actions">
      <%= link_to user_path(item.block.user), 
          data: { turbo_frame: dom_id(item) },
          class: "btn btn--light btn--emoji" do %>
        <%= Icon.call("cancel_emoji") %>
      <% end %>
      <%= button_tag(class: "btn btn--primary btn--emoji") do %>
        <%= Icon.new("confirm_emoji").call %>
      <% end %>
    </div>
  </div>
<% end %>