<%= simple_form_for item, url: item_content_path(item), method: :patch, html: { class: "form__container--item-content" } do |f| %>
  <%= form_error_notification(item) %>
  <div class="form__container form__container--no-flex">
    <%= f.input :content, 
          input_html: { 
            data: { 
              controller: "autofocus markdown-editor",
              markdown_editor_update_url_value: save_content_item_content_path(item),
              markdown_editor_url_value: rails_direct_uploads_url,
              markdown_editor_toolbar_value: [ 
                "bold", "italic", "heading-3", "quote", "code", "unordered-list", "ordered-list", "link", "preview"
              ]
            }
          },
          wrapper_html: { class: "form__container__input--item-content" } %>
    <div class="form__container__actions flex-end">
      <%= link_to user_path(item.block.user), 
          data: { turbo_frame: dom_id(item) },
          class: "btn btn--light btn--emoji" do %>
        <%= Icon.call("cancel_emoji") %>
      <% end %>
      <%= button_tag(class: "btn btn--primary btn--emoji") do %>
        <%= Icon.new("confirm_emoji").call %>
      <% end %>
    </div>

    <%= f.label :photos, class: "label mt-3" %>
    <%= dropzone_controller_div(6) do %>
      <% f.object.photos.each do |photo| %>
        <% file_details = file_details_for(photo) %>
        <%= f.hidden_field :photos, multiple: true, value: photo.signed_id, data: { filename: file_details[:filename], size: file_details[:size], content_type: file_details[:content_type], url: file_details[:url], blob_id: file_details[:blob_id], "dropzone-target": "existingFile" } %>
      <% end %>
      <%= f.file_field :photos, direct_upload: true, multiple: true, 'data-dropzone-target': 'input' %>
      <div data-dropzone-target="dropzoneMsg" class="dropzone-msg dz-message needsclick">
        <h5 class="dropzone-msg-title">
          Drag to upload or click to browse
        </h5> 
        <span class="dropzone-msg-desc text-sm small">
          10 MB max size. 
          <%# Allowed file types png, jpg. %>
        </span>
      </div>
    <% end %>

  </div>
<% end %>