<%= render 'layouts/turbo_dialog' do %>
   <%= turbo_frame_tag :show_photo, class: "modal-photo" do %>
    
    <%= turbo_frame_tag @photo, src: photo_partial_path(@photo), loading: "lazy" do %>
      <div class="d-center">
        <%= render "shared/spinner" %>
      </div>
    <% end %>

    <div class="modal-photo__navigation">
      <div class="modal-photo__navigation__left">
        <%= link_to "Previous", photo_item_content_path(@item, @item.previous_photo(@photo)), class: "btn btn--small btn--primary", data: { turbo_frame: "show_photo" } %>
      </div>
      <div class="modal-photo__navigation__right">
        <%= link_to "Next", photo_item_content_path(@item, @item.next_photo(@photo)), class: "btn btn--small btn--primary", data: { turbo_frame: "show_photo" } %>
      </div>
    </div>
  <% end %>
    <%# <div data-action="turbo:submit-end->dialog#submitEnd"> %>
      <%#= button_to "Destroy this comment", comment_path(@comment), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <%# </div> %>
<% end %>